/* Container principal da página */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

/* Título principal */
.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial;
  color: #000;
}

/* Formulário de entrada */
.headerContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.backButton {
  width: 100px;
  height: 47px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.backButtonStyle {
  background-color: #aaaaaa;
  color: white;
  margin-top: 20px;
  justify-items: flex-end;
  
}

.backButton:hover {
  background-color: #363636;
}

.deleteButton {
  width: 100px;
  height: 47px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.deleteButtonStyle {
  background-color: #ff0400;
  color: white;
  margin-top: 20px;
  justify-items: flex-end;
}

.deleteButton:hover {
  background-color: #9b1c1c;

}

.tabContainer {
  display:flex;
  flex-direction: row;
  gap: 5px;
}

.tabButton {
  width: 100px;
  height: 47px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.tabButtonStyle {
  background-color: #1b1919;
  color: white;
  
}

.tabButton:hover {
  background-color: #928c8c;

}

.tabContent {
  background-color: #fff;
  border-radius: 50;
  border-width: 30;
}